                                                            // ========================================================
                                                            // Setting up the parameters for ReadQC.nf
                                                            // ========================================================
//
//	The default options should be appropriate for most cases
//

params {
	help            = ""                                 // params tagged 'false' are preffered to be specified in the shell submission script
	InDir           = false
	OutDir          = ""
	Batch_ID        = ""

 // Falco options
	FQC_args        = ""                                     // Optional arguments for Falco

// FastP options
	FP_args         = ""                                     // Optional arguments for FastP

// KmerAnalysis options
	KA_args         = ""                                     // Optional arguments for Yak-count

}


                                                            // ========================================================
                                                            // Setting up the system setting for ReadQC.nf
                                                            // ========================================================

// --------  Conda config --------
conda {
  enabled = true
  cacheDir = './envs'
}

// -------- Profiles --------
profiles {

 cropdiv_hpc {
   process {
      executor = 'slurm'
      conda.enabled = true
      resourceLimits = [
        memory: '256 GB',
        cpus: 256,
        time : '24h'
      ]
    }
  }
}

// Dynamic resource allocation, error policy
process {
 withName: falcoQC {
	conda = 'envs/falco.yml'
	//  container 'quay.io/biocontainers/falco:<version-tag>
    memory = { 1.GB * task.attempt }
    time = { 30.minutes * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3
	queue = 'short'
  }

 withName: fastp {
	conda = 'envs/fastp.yml'
	//  container 'quay.io/biocontainers/fastp:<version-tag>
    memory = { 10.GB * task.attempt }
    time = { 1.hour * task.attempt }
	cpus = 6
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3
	queue = 'medium'
  }

 withName: falcoQCafterFastp {
	conda = 'envs/falco.yml'
	//  container 'quay.io/biocontainers/falco:<version-tag>
    memory = { 1.GB * task.attempt }
    time = { 30.minutes * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3
    queue = 'short'
  }

  withName: kmerAnalysis {
	conda = 'envs/kmer.yml'
	//  container 'quay.io/biocontainers/kmer:<version-tag>
    memory = { 8.GB * task.attempt }
    time = { 1.hour * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3
	queue = 'medium'
  }

  withName: fqStat {
    memory = { 5.GB * task.attempt }
    time = { 30.minutes * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3
	queue = 'medium'
  }

}

